<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gallery Pablo Jami Tapia</title>
  <link rel="stylesheet" href="/css/Styles.css">
</head> 
   <body>
	<h1>Gallery Example - Pablo Jami Tapia</h1>
	<h1>Ecuador</h1>
	<ul class="gallery">
		<li><a href="#img1"><t>Big Square - Quito</t><img src="images/ecuador01.jpg" alt="Plaza - Quito"></a></li>
		<li><a href="#img2"><t>Panecillo - Quito</t><img src="images/ecuador02.jpg" alt="Panecillo - Quito"></a></li>
		<li><a href="#img3"><t>Quito</t><img src="images/ecuador03.jpg" alt="Quito"></a></li>
		<li><a href="#img4"><t>Waterfall San Rafael</t><img src="images/ecuador04.jpg" alt="Ecuador"></a></li>
		<li><a href="#img5"><t>Sanctuary of Quinche</t><img src="images/ecuador05.jpg" alt="Ecuador"></a></li>
		<li><a href="#img6"><t>Hill of "El Carmen"</t><img src="images/ecuador06.jpg" alt="Ecuador"></a></li>
		<li><a href="#img7"><t>Middle of the World</t><img src="images/ecuador07.jpg" alt="Ecuador"></a></li>
		<li><a href="#img8"><t>Cuicocha Lake</t><img src="images/ecuador08.jpg" alt="Ecuador"></a></li>
		<li><a href="#img9"><t>Galapagos Island</t><img src="images/ecuador09.jpg" alt="Ecuador"></a></li>
		<li><a href="#img10"><t>Napo River</t><img src="images/ecuador10.jpg" alt="Ecuador"></a></li>
		<li><a href="#img11"><t>Cotopaxy Vulcano</t><img src="images/ecuador11.jpg" alt="Ecuador"></a></li>
		<li><a href="#img12"><t>San Francisco Church</t><img src="images/ecuador12.jpg" alt="Ecuador"></a></li>
		<li><a href="#img13"><t>Crater Pululahua</t><img src="images/ecuador13.jpg" alt="Ecuador"></a></li>
		<li><a href="#img14"><t>La Ronda - Quito</t><img src="images/ecuador14.jpg" alt="Ecuador"></a></li>
		<li><a href="#img15"><t>The Basilica</t><img src="images/ecuador15.jpg" alt="Ecuador"></a></li>
		<li><a href="#img16"><t>Beach "Los Frailes"</t><img src="images/ecuador16.jpg" alt="Ecuador"></a></li>
	
	</ul>
	<div class="modal" id="img1">
	<h3>Independence Square - Quito</h3>
	<div class="imagen">
		<a href="#img16">&#60</a>
		<a href="#img2"><img src="images/ecuador01.jpg"></a>
		<a href="#img2">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img2">
	<h3>Panecillo - Quito</h3>
	<div class="imagen">
		<a href="#img1">&#60</a>
		<a href="#img3"><img src="images/ecuador02.jpg"></a>
		<a href="#img3">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img3">
	<h3>Quito</h3>
	<div class="imagen">
		<a href="#img2">&#60</a>
		<a href="#img4"><img src="images/ecuador03.jpg"></a>
		<a href="#img4">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img4">
	<h3>Waterfall "San Rafael"</h3>
	<div class="imagen">
		<a href="#img3">&#60</a>
		<a href="#img5"><img src="images/ecuador04.jpg"></a>
		<a href="#img5">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img5">
	<h3>Sanctuary of Quinche</h3>
	<div class="imagen">
		<a href="#img4">&#60</a>
		<a href="#img6"><img src="images/ecuador05.jpg"></a>
		<a href="#img6">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img6">
	<h3>Hill of "El Carmen" - GYE</h3>
	<div class="imagen">
		<a href="#img5">&#60</a>
		<a href="#img7"><img src="images/ecuador06.jpg"></a>
		<a href="#img7">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img7">
	<h3>Middle of the World</h3>
	<div class="imagen">
		<a href="#img6">&#60</a>
		<a href="#img8"><img src="images/ecuador07.jpg"></a>
		<a href="#img8">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img8">
	<h3>Cuicocha Lake</h3>
	<div class="imagen">
		<a href="#img7">&#60</a>
		<a href="#img9"><img src="images/ecuador08.jpg"></a>
		<a href="#img9">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img9">
	<h3>Galapagos Island Turtle</h3>
	<div class="imagen">
		<a href="#img8">&#60</a>
		<a href="#img10"><img src="images/ecuador09.jpg"></a>
		<a href="#img10">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img10">
	<h3>Napo River</h3>
	<div class="imagen">
		<a href="#img9">&#60</a>
		<a href="#img11"><img src="images/ecuador10.jpg"></a>
		<a href="#img11">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img11">
	<h3>Cotopaxy Vulcano</h3>
	<div class="imagen">
		<a href="#img10">&#60</a>
		<a href="#img12"><img src="images/ecuador11.jpg"></a>
		<a href="#img12">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img12">
	<h3>"San Francisco" Church</h3>
	<div class="imagen">
		<a href="#img11">&#60</a>
		<a href="#img13"><img src="images/ecuador12.jpg"></a>
		<a href="#img13">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img13">
	<h3>Crater Pululahua</h3>
	<div class="imagen">
		<a href="#img12">&#60</a>
		<a href="#img14"><img src="images/ecuador13.jpg"></a>
		<a href="#img14">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img14">
	<h3>"La Ronda" - Quito</h3>
	<div class="imagen">
		<a href="#img13">&#60</a>
		<a href="#img15"><img src="images/ecuador14.jpg"></a>
		<a href="#img15">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img15">
	<h3>The Basilica of the National Vote</h3>
	<div class="imagen">
		<a href="#img14">&#60</a>
		<a href="#img16"><img src="images/ecuador15.jpg"></a>
		<a href="#img16">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
	<div class="modal" id="img16">
	<h3>Beach "Los Frailes"</h3>
	<div class="imagen">
		<a href="#img15">&#60</a>
		<a href="#img1"><img src="images/ecuador16.jpg"></a>
		<a href="#img1">&#62</a>
	</div>
	<a class="cerrar" href="">X</a>
	</div>
</body>
</html>
